<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <%- include('common/navbar')%>

            <%- include('common/sidebar')%>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1 class="m-0">Dashboard v2</h1>
                                </div><!-- /.col -->
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active">Dashboard v2</li>
                                    </ol>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </div>
                    <!-- /.content-header -->

                    <!-- Main content -->
                    <section class="content">
                        <div class="container-fluid">
                            <!-- Info boxes -->
                            <div class="row">

                                <!-- fix for small devices only -->
                                <div class="clearfix hidden-md-up"></div>
                                <div class="col-12 col-md-7">

                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">All Banner</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Service Name</th>
                                                        <th>Service Type</th>
                                                        <th>Image</th>
                                                        <th>delete</th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <% for(let svd of serviced){%>
                                                        <tr>
                                                            <td>
                                                                <%=svd.servicename%>
                                                            </td>
                                                            <td>
                                                                <%=svd.servicetype%>
                                                            </td>

                                                            <!-- uploads\1689934057438.jpg -->
                                                            <td>
                                                                <img src="<%=svd.image%>" width="60" alt="photo" />
                                                            </td>

                                                            </td>
                                                            <td><a href="/sdelete/<%=svd._id%>" class="btn btn-danger">Delete</a></td>

                                                        </tr>
                                                </tbody>
                                                <%} {%>
                                                    <!-- <h1>data found</h1> -->
                                                    <% } %>

                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                </div>

                                <div class="col-12 col-md-5">

                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">All Banner</h3>
                                        </div>

                                        <form action="/Servicedata" method="post" enctype="multipart/form-data">
                                            <div class="card-body">

                                                <div class="form-group">
                                                    <label for="exampleInputTitle">Service Name</label>
                                                    <input type="text" name='servicename' class="form-control"
                                                        id="exampleInputEmail1" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputContant">Service Type</label>
                                                    <input type="text" name='servicetype' class="form-control"
                                                        id="exampleInputEmail1" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputContant">Service No</label>
                                                    <input type="text" name='serviceno' class="form-control"
                                                        id="exampleInputEmail1" />
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputName">Image</label>
                                                    <input type="file" name='image' class="form-control"
                                                        id="exampleInputEmail1" />
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- <div class="col-12 col-md-4"></div> -->
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->

                            <!-- /.content -->
                        </div>
                        <!-- /.content-wrapper -->

                        <!-- Control Sidebar -->
                        <aside class="control-sidebar control-sidebar-dark">
                            <!-- Control sidebar content goes here -->
                        </aside>
                        <!-- /.control-sidebar -->
                        <%- include('common/footer')%>
                </div>
                <!-- ./wrapper -->

                <!-- REQUIRED SCRIPTS -->
                <!-- jQuery -->
                <script src="plugins/jquery/jquery.min.js"></script>
                <!-- Bootstrap -->
                <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
                <!-- overlayScrollbars -->
                <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
                <!-- AdminLTE App -->
                <script src="dist/js/adminlte.js"></script>

                <!-- PAGE PLUGINS -->
                <!-- jQuery Mapael -->
                <script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
                <script src="plugins/raphael/raphael.min.js"></script>
                <script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>
                <script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>
                <!-- ChartJS -->
                <script src="plugins/chart.js/Chart.min.js"></script>

                <!-- AdminLTE for demo purposes -->
                <script src="dist/js/demo.js"></script>
                <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
                <script src="dist/js/pages/dashboard2.js"></script>
</body>

</html>